#template-security{
	width: 100%;
	height: 100vh;
	background: #D9D9D9;
		>section{
			background: #FFF;
			position: fixed;
			top: 0px;
			left: 1%;
			right: 1%;
			width: 98%;
			overflow: auto;
			height: calc(100vh - 75px - 20px);
			margin-top:  5px;
			/*border: solid black 1px;*/
			box-shadow: #D9D9D9 5px 3px 3px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			>header{
				margin-bottom: 30px;
				color : #08712C;
				>h1{
					font-size: 3rem;
				}
			}
			
			>div{
				border: solid #D9D9D9 1px;
				min-width: 40%;
				max-width: 100%;
				>header{
					display: flex;
					font-size: 1.3rem;
					>div{
						width: 50%;
						text-align: center;
						padding: 10px;
						border:  solid #D9D9D9 1px;


					}
					>#reset-assword{
						width: 100%;
					}
				}
				>form{
					padding: 10px;

					>small{
						color : red;
						font-size: 0.80rem;
						display: block;
						text-align: center;
					}

					>div{
						display: flex;
						flex-direction: column;
						margin: 15px;

					}

				}
				>footer{
					border-top: solid #D9D9D9 1px;
					text-align: center;
					padding: 10px;
					font-size: 0.75rem;
				}
			}

		}

		>footer{
			background: redq;
			font-size: 0.7rem;
			width: 100%;
			height: 75px;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			>.logo{
				width: 70px;
				height: 15px;
				background: red;
			}
		}

}


.link{
	text-decoration: none;
	color: #08712C;
}
.link:hover{
	border-bottom: #08712C solid 3px;
	color: #08712C;
}
.link-security-active{
	background: #08712C;
	>.link{
		color: white;
		text-decoration: none;
	}
	>.link:hover{
		border-bottom: white solid 3px;
	}
}


.btn{
	border: #08712C solid 1px;
	color:  #08712C;
	display: block;
	margin: auto;
	padding:  10px;
	margin-bottom: 15px;
	border-radius: 15px;
}
.btn:hover{
	background: #08712C;
	color: white;
}
